$bevietnam-font-path: "./assets/fonts";

@font-face {
  src: url("#{$bevietnam-font-path}/BeVietnamPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-family: "Be Vietnam Pro";
}
@font-face {
  src: url("#{$bevietnam-font-path}/BeVietnamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-family: "Be Vietnam Pro";
}
@font-face {
  src: url("#{$bevietnam-font-path}/BeVietnamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-family: "Be Vietnam Pro";
}
