@use "./themes/font-face.scss" as *;
@use "./themes/colors.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2.25rem;
  line-height: 1.6;
  color: $gray;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
}

p {
  font-weight: 500;
  font-size: 1.125rem;
  color: $gray;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-size: 1rem;
}

img {
  max-width: 100%;
}
