@use "./themes/font-face.scss" as *;
@use "./themes/colors.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro";

  background: url("./assets/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 20% -100px;
  background-size: 500px;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: $veryDarkBlue;
  padding-bottom: 0.5rem;
}

p {
  font-size: 0.8rem;
  color: $darkGrayishBlue;
  font-weight: 400;
  padding-bottom: 1rem;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}
